.teachers {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: $color-violet;
    position: relative;
    .card {
        z-index: 20;
        border-radius: 10px;
        border: none;
        width: 18rem;
        transition: 0.5s all;
        margin-top: 3rem;
        img {
            border-radius: 10px 10px 0 0;
        }
        .nationality {
            @include styleText($color-purple, 0.75rem, $fw-3);
        }
        .name {
            @include styleText($color-dark-1, 1.55rem, $fw-4);
        }
        .card-text {
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            @include styleText($color-dark-1, $fs-1, $fw-1);
        }
        &:hover {
            box-shadow: -3px 11px 16px 0px rgba(145,136,145,0.71);
        }
    }

    .white-wave {
        position: absolute;
        bottom: -5px;
    }
}
