// color
$color-purple: #b61984;
$color-dark-1: #181818;

// font-size
$fs-1: 15px;
$fs-2: 13px;
$fs-3: 16.5px;
$fs-4: 54px;

// font-weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);